/BasicErrorPayload.java
/BasicoConstants.java
/BasicoException.java
/BasicoMessageException.java
/BasicoNormalizer.java
/BasicoStub.java
/BasicoStubImpl.java
/BasicoValidator.java
/BlobReference.java
/Cliente.java
/CreateBulkClienteInput.java
/CreateBulkClienteOutput.java
/CreateBulkClienteResponse.java
/CreateBulkItemInput.java
/CreateBulkItemOutput.java
/CreateBulkItemResponse.java
/CreateBulkPedidoInput.java
/CreateBulkPedidoOutput.java
/CreateBulkPedidoResponse.java
/CreateClienteResponse.java
/CreateItemResponse.java
/CreateMergeClienteResponse.java
/CreateMergeItemResponse.java
/CreateMergePedidoResponse.java
/CreatePedidoResponse.java
/CredentialsProvider.java
/CredentialsProviderImpl.java
/Dependency.java
/EmailNotifyUserEventPayload.java
/ErrorStrategy.java
/ErrorType.java
/EventEmailFormat.java
/EventType.java
/ExportClienteEvent.java
/ExportClienteEventPayload.java
/ExportClienteInput.java
/ExportClienteOutput.java
/ExportClienteResponse.java
/ExportConfig.java
/ExportEventStatus.java
/ExportItemEvent.java
/ExportItemEventPayload.java
/ExportItemInput.java
/ExportItemOutput.java
/ExportItemResponse.java
/ExportPedidoEvent.java
/ExportPedidoEventPayload.java
/ExportPedidoInput.java
/ExportPedidoOutput.java
/ExportPedidoResponse.java
/FieldType.java
/Fielddto.java
/FileFormat.java
/FotoOperationResult.java
/GetDependenciesOutput.java
/GetDependenciesResponse.java
/GetMetadataInput.java
/GetMetadataOutput.java
/GetMetadataResponse.java
/GravarFotoInput.java
/GravarFotoOutput.java
/GravarFotoResponse.java
/HelloWorldInput.java
/HelloWorldOutput.java
/HelloWorldResponse.java
/HookFunction.java
/Hookdto.java
/ImportClienteEvent.java
/ImportClienteEventPayload.java
/ImportClienteInput.java
/ImportClienteOutput.java
/ImportClienteResponse.java
/ImportConfig.java
/ImportError.java
/ImportEventStatus.java
/ImportItemEvent.java
/ImportItemEventPayload.java
/ImportItemInput.java
/ImportItemOutput.java
/ImportItemResponse.java
/ImportPedidoEvent.java
/ImportPedidoEventPayload.java
/ImportPedidoInput.java
/ImportPedidoOutput.java
/ImportPedidoResponse.java
/ImportReport.java
/InstanceMessengerSupplier.java
/Item.java
/Layoutdto.java
/ListClienteResponse.java
/ListItemResponse.java
/ListPedidoResponse.java
/NotifyUserEvent.java
/NotifyUserEventPayload.java
/ObterUrlDownloadFotoInput.java
/ObterUrlDownloadFotoOutput.java
/ObterUrlDownloadFotoResponse.java
/ObterUrlUploadFotoInput.java
/ObterUrlUploadFotoOutput.java
/ObterUrlUploadFotoResponse.java
/Pedido.java
/PushNotifyUserEventPayload.java
/RetrieveClienteResponse.java
/RetrieveItemResponse.java
/RetrievePedidoResponse.java
/ServiceStarted.java
/ServiceStartedPayload.java
/Status.java
/UpdateClienteResponse.java
/UpdateItemResponse.java
/UpdateMergeClienteResponse.java
/UpdateMergeItemResponse.java
/UpdateMergePedidoResponse.java
/UpdatePedidoResponse.java
/UserNotificationKind.java
/UserNotificationPriority.java
/package-info.java
/AlteraStatusCreditoHabilitadoInput.java
/AlteraStatusCreditoHabilitadoOutput.java
/AlteraStatusCreditoHabilitadoResponse.java
/RetornaEstoqueInput.java
/RetornaEstoqueOutput.java
/RetornaEstoqueResponse.java
/CreateBulkDiretorInput.java
/CreateBulkDiretorOutput.java
/CreateBulkDiretorResponse.java
/CreateBulkFilmeInput.java
/CreateBulkFilmeOutput.java
/CreateBulkFilmeResponse.java
/CreateBulkGeneroInput.java
/CreateBulkGeneroOutput.java
/CreateBulkGeneroResponse.java
/CreateDiretorResponse.java
/CreateFilmeResponse.java
/CreateGeneroResponse.java
/CreateMergeDiretorResponse.java
/CreateMergeFilmeResponse.java
/CreateMergeGeneroResponse.java
/Diretor.java
/ExportDiretorEvent.java
/ExportDiretorEventPayload.java
/ExportDiretorInput.java
/ExportDiretorOutput.java
/ExportDiretorResponse.java
/ExportFilmeEvent.java
/ExportFilmeEventPayload.java
/ExportFilmeInput.java
/ExportFilmeOutput.java
/ExportFilmeResponse.java
/ExportGeneroEvent.java
/ExportGeneroEventPayload.java
/ExportGeneroInput.java
/ExportGeneroOutput.java
/ExportGeneroResponse.java
/Filme.java
/Genero.java
/ImportDiretorEvent.java
/ImportDiretorEventPayload.java
/ImportDiretorInput.java
/ImportDiretorOutput.java
/ImportDiretorResponse.java
/ImportFilmeEvent.java
/ImportFilmeEventPayload.java
/ImportFilmeInput.java
/ImportFilmeOutput.java
/ImportFilmeResponse.java
/ImportGeneroEvent.java
/ImportGeneroEventPayload.java
/ImportGeneroInput.java
/ImportGeneroOutput.java
/ImportGeneroResponse.java
/ListDiretorResponse.java
/ListFilmeResponse.java
/ListGeneroResponse.java
/RetrieveDiretorResponse.java
/RetrieveFilmeResponse.java
/RetrieveGeneroResponse.java
/UpdateDiretorResponse.java
/UpdateFilmeResponse.java
/UpdateGeneroResponse.java
/UpdateMergeDiretorResponse.java
/UpdateMergeFilmeResponse.java
/UpdateMergeGeneroResponse.java
